
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    height: 100vh;
    width: 100vw;
}
.navbar{
    height: 10%;
    width:100%;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
    

}
.logo{
    height: 100px;
    
}
.logo img{
    height: 100%;
    border-radius: 50%;
}
.navlist{
display: flex;
justify-content: end;
margin-right: 20px;
align-items: center;
gap: 20px;
height: 100px;

}
.mainContent{
    
    height: 75%;
    background-color: rgb(250, 233, 233);

}

.BackgroundImg{
   background-image: url("https://i.pinimg.com/originals/fe/5f/67/fe5f677b1627009c4b3e1c1c31dedf71.png");
   background-size: cover;
   background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: rgb(40, 34, 34);

}
.personal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    /* height:10%; */

}
.about_me{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    

}
button{
    
    background-color: rgb(180, 236, 180);
    border-radius: 25px;
    border: transparent;
    box-shadow: 5px 5px 10px lightcyan;
    padding: 15px 40px;
    
}

footer{
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(236, 248, 215);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
