
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.navbar{
    height: 10%;
    width:100%;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
    

}
.logo{
    height: 100px;
    
}
.logo img{
    height: 100%;
    border-radius: 50%;
}
.navlist{
display: flex;
justify-content: end;
margin-right: 20px;
align-items: center;
gap: 20px;
height: 100px;

}
.mainContent{
    height: 75%;
    background-color: lightcoral;
    display: flex;
    


}
.section{
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 

}
.info img{
    height: 20%;
    width: 20%;
    object-fit: cover;
}
footer{
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(20, 88, 88);
    
}
